/* Space out content a bit */
body {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.navbar-default.navbar-static-top {
  margin-top: 0px;
}

.navbar.navbar-default.navbar-static-top.stick {
  position: fixed;
  top: 0;
  width: 100%;
}

.retweets {
  float: right;
}

.prof_pic img{
  min-width: 100px;
  height: auto;
  border: 3px solid white;
  border-radius: 5px;
}

.created_at {
  display: none;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image:url('https://www.smartt.com/sites/default/files/public/twitter_logo_banner_12.jpg');
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.jumbotron p {
  font-size: 120%;
}

.marketing {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.marketing p + h4 {
  margin-top: 28px;
}

.tweet {
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
  min-height: 150px;
  border-top: 1px solid #E7E7E7;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container.navbar-collapse {
  margin-left: 0px;
  margin-right: 0px;
}

.failed-request {
  width: 100%;
  height: 22px;
  display: block;
  text-align: center;
  background: rgba(227,0,0,.3);
  display: none;
  color: white;
}

.progress-bar.animate {
  width: 100%;
}

/* Customize container */
@media (min-width: 900px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 300px) {
  .sort-menu {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(25%);
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
    background-image:url('https://www.smartt.com/sites/default/files/public/twitter_logo_banner_12.jpg');
    background-size: cover;
  }
}
